<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <div class="container" id="app">
        <div @submit.prevent="addTask(newTaskText)">
            <input type="text" v-model="newTaskText" placeholder="inserisci cose da fare">
            <button type="submit">Aggiungi</button>
        </div>
        <div>
        <ul>
            <li v-for="task in tasks" :key="task.text">
                <input type="checkbox" v-model="task.done" @change="doneTask(task)">
                <span :class="{done: task.done}">{{ task.text}}</span>
                <button @click="deleteTask(task)">Fatto</button>
            </li>
        </ul>
    </div>
    </div>
    
    <script src="./js/script.js"></script>
</body>
</html>